@import 'variables';

header {
     position: relative;
     background: $key_color1;
     padding: 0.6rem;
     box-shadow: 2px 2px 2px rgba(50,50,50,0.3);
     z-index: 10000;
     a {
         color: #fff;
         display: inline-block;
     }
}
